In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.model_selection import cross_validate
import tensorflow as tf

In [2]:
train_df = pd.read_csv("./train_df_encode.csv")
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182080 entries, 0 to 182079
Data columns (total 83 columns):
project_is_approved                     182080 non-null int64
project_grade_category_enc_0            182080 non-null int64
project_grade_category_enc_1            182080 non-null int64
project_grade_category_enc_2            182080 non-null int64
school_state_enc_0                      182080 non-null int64
school_state_enc_1                      182080 non-null int64
school_state_enc_2                      182080 non-null int64
school_state_enc_3                      182080 non-null int64
school_state_enc_4                      182080 non-null int64
school_state_enc_5                      182080 non-null int64
teacher_prefix_enc_0                    182080 non-null int64
teacher_prefix_enc_1                    182080 non-null int64
teacher_prefix_enc_2                    182080 non-null int64
project_submitted_datetime_year         182080 non-null int64
project_submitted_datetime_month        182080 non-null int64
project_submitted_datetime_day          182080 non-null int64
project_submitted_datetime_dayofweek    182080 non-null int64
project_subject_categories_enc_0        182080 non-null int64
project_subject_categories_enc_1        182080 non-null int64
project_subject_categories_enc_2        182080 non-null int64
project_subject_categories_enc_3        182080 non-null int64
project_subject_categories_enc_4        182080 non-null int64
project_subject_categories_enc_5        182080 non-null int64
project_subject_categories_enc_6        182080 non-null int64
project_subject_categories_enc_7        182080 non-null int64
project_subject_categories_enc_8        182080 non-null int64
project_subject_categories_enc_9        182080 non-null int64
project_subject_categories_enc_10       182080 non-null int64
project_subject_categories_enc_11       182080 non-null int64
project_subject_categories_enc_12       182080 non-null int64
project_subject_categories_enc_13       182080 non-null int64
project_subject_categories_enc_14       182080 non-null int64
project_subject_categories_enc_15       182080 non-null int64
project_subject_categories_enc_16       182080 non-null int64
project_subject_categories_enc_17       182080 non-null int64
project_subject_subcategories_enc_0     182080 non-null int64
project_subject_subcategories_enc_1     182080 non-null int64
project_subject_subcategories_enc_2     182080 non-null int64
project_subject_subcategories_enc_3     182080 non-null int64
project_subject_subcategories_enc_4     182080 non-null int64
project_subject_subcategories_enc_5     182080 non-null int64
project_subject_subcategories_enc_6     182080 non-null int64
project_subject_subcategories_enc_7     182080 non-null int64
project_subject_subcategories_enc_8     182080 non-null int64
project_subject_subcategories_enc_9     182080 non-null int64
project_subject_subcategories_enc_10    182080 non-null int64
project_subject_subcategories_enc_11    182080 non-null int64
project_subject_subcategories_enc_12    182080 non-null int64
project_subject_subcategories_enc_13    182080 non-null int64
project_subject_subcategories_enc_14    182080 non-null int64
project_subject_subcategories_enc_15    182080 non-null int64
project_subject_subcategories_enc_16    182080 non-null int64
project_subject_subcategories_enc_17    182080 non-null int64
project_subject_subcategories_enc_18    182080 non-null int64
project_subject_subcategories_enc_19    182080 non-null int64
project_subject_subcategories_enc_20    182080 non-null int64
project_subject_subcategories_enc_21    182080 non-null int64
project_subject_subcategories_enc_22    182080 non-null int64
project_subject_subcategories_enc_23    182080 non-null int64
project_subject_subcategories_enc_24    182080 non-null int64
project_subject_subcategories_enc_25    182080 non-null int64
project_subject_subcategories_enc_26    182080 non-null int64
project_subject_subcategories_enc_27    182080 non-null int64
project_subject_subcategories_enc_28    182080 non-null int64
project_subject_subcategories_enc_29    182080 non-null int64
project_subject_subcategories_enc_30    182080 non-null int64
project_subject_subcategories_enc_31    182080 non-null int64
project_subject_subcategories_enc_32    182080 non-null int64
project_subject_subcategories_enc_33    182080 non-null int64
project_subject_subcategories_enc_34    182080 non-null int64
project_subject_subcategories_enc_35    182080 non-null int64
project_subject_subcategories_enc_36    182080 non-null int64
project_subject_subcategories_enc_37    182080 non-null int64
project_subject_subcategories_enc_38    182080 non-null int64
project_subject_subcategories_enc_39    182080 non-null int64
project_subject_subcategories_enc_40    182080 non-null int64
project_subject_subcategories_enc_41    182080 non-null int64
project_subject_subcategories_enc_42    182080 non-null int64
project_subject_subcategories_enc_43    182080 non-null int64
project_subject_subcategories_enc_44    182080 non-null int64
project_subject_subcategories_enc_45    182080 non-null int64
project_subject_subcategories_enc_46    182080 non-null int64
project_subject_subcategories_enc_47    182080 non-null int64
dtypes: int64(83)
memory usage: 115.3 MB

In [3]:
train_df.head(5)

,project_is_approved,project_grade_category_enc_0,project_grade_category_enc_1,project_grade_category_enc_2,school_state_enc_0,school_state_enc_1,school_state_enc_2,school_state_enc_3,school_state_enc_4,school_state_enc_5,...,project_subject_subcategories_enc_38,project_subject_subcategories_enc_39,project_subject_subcategories_enc_40,project_subject_subcategories_enc_41,project_subject_subcategories_enc_42,project_subject_subcategories_enc_43,project_subject_subcategories_enc_44,project_subject_subcategories_enc_45,project_subject_subcategories_enc_46,project_subject_subcategories_enc_47
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,1,1,0,0,0,0
2,1,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
4,1,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
train_data = train_df.values
xs = train_data[:, 1:]  # 正解データ列以外を抽出
y = train_data[:, 0]  # 正解データ列のみ抽出

In [5]:
xs.shape

(182080, 82)

In [6]:
y.shape

(182080,)

In [7]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(),
  tf.keras.layers.Dense(82, activation=tf.nn.relu),
  tf.keras.layers.Dropout(0.2),

  tf.keras.layers.Dense(10, activation=tf.nn.relu), # あってもなくても同じ
  tf.keras.layers.Dropout(0.2),

#  tf.keras.layers.Dense(2, activation=tf.nn.softmax)
  tf.keras.layers.Dense(1, activation=tf.nn.softmax)
])
model.compile(optimizer='adam',
#              loss='sparse_categorical_crossentropy',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(xs, y, epochs=5)
model.evaluate(xs, y)

Epoch 1/5
182080/182080 [==============================] - 20s 111us/step - loss: 2.4283 - acc: 0.8477
Epoch 2/5
182080/182080 [==============================] - 19s 102us/step - loss: 2.4283 - acc: 0.8477
Epoch 3/5
182080/182080 [==============================] - 19s 102us/step - loss: 2.4283 - acc: 0.8477
Epoch 4/5
182080/182080 [==============================] - 19s 102us/step - loss: 2.4283 - acc: 0.8477
Epoch 5/5
182080/182080 [==============================] - 19s 103us/step - loss: 2.4283 - acc: 0.8477
182080/182080 [==============================] - 6s 35us/step

[2.4283069114902944, 0.8476823374340949]

In [8]:
test_df = pd.read_csv("./Data/test.csv")
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78035 entries, 0 to 78034
Data columns (total 15 columns):
id                                              78035 non-null object
teacher_id                                      78035 non-null object
teacher_prefix                                  78034 non-null object
school_state                                    78035 non-null object
project_submitted_datetime                      78035 non-null object
project_grade_category                          78035 non-null object
project_subject_categories                      78035 non-null object
project_subject_subcategories                   78035 non-null object
project_title                                   78035 non-null object
project_essay_1                                 78035 non-null object
project_essay_2                                 78035 non-null object
project_essay_3                                 2704 non-null object
project_essay_4                                 2704 non-null object
project_resource_summary                        78035 non-null object
teacher_number_of_previously_posted_projects    78035 non-null int64
dtypes: int64(1), object(14)
memory usage: 8.9+ MB

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
test_df_encode = pd.DataFrame()

In [10]:
from my_modules.my_encoder import CategoryValueEncoder as CVE
from my_modules.my_encoder import TextValueEncoder as TVE

In [11]:
test_df_encode = pd.concat([test_df_encode, CVE(test_df['project_grade_category']).to_binary_encoding()], axis=1)

In [12]:
test_df_encode = pd.concat([test_df_encode, CVE(test_df['school_state']).to_binary_encoding()], axis=1)

In [13]:
test_df_encode = pd.concat([test_df_encode, CVE(test_df['teacher_prefix']).to_binary_encoding()], axis=1)

In [14]:
project_submitted_datetime_year = pd.to_datetime(test_df["project_submitted_datetime"]).dt.year
project_submitted_datetime_year = project_submitted_datetime_year.rename('project_submitted_datetime_year', axis='columns')

project_submitted_datetime_month = pd.to_datetime(test_df["project_submitted_datetime"]).dt.month
project_submitted_datetime_month = project_submitted_datetime_month.rename('project_submitted_datetime_month', axis='columns')

project_submitted_datetime_month = pd.to_datetime(test_df["project_submitted_datetime"]).dt.month
project_submitted_datetime_month = project_submitted_datetime_month.rename('project_submitted_datetime_month', axis='columns')

project_submitted_datetime_day = pd.to_datetime(test_df["project_submitted_datetime"]).dt.day
project_submitted_datetime_day = project_submitted_datetime_day.rename('project_submitted_datetime_day', axis='columns')

project_submitted_datetime_dayofweek = pd.to_datetime(test_df["project_submitted_datetime"]).dt.dayofweek
project_submitted_datetime_dayofweek = project_submitted_datetime_dayofweek.rename('project_submitted_datetime_dayofweek', axis='columns')

test_df_encode = pd.concat([test_df_encode, project_submitted_datetime_year, project_submitted_datetime_month, project_submitted_datetime_day, project_submitted_datetime_dayofweek], axis=1)

In [15]:
test_df_encode = pd.concat([test_df_encode, TVE(test_df['project_subject_categories']).to_bow_encoding()], axis=1)

In [16]:
test_df_encode = pd.concat([test_df_encode, TVE(test_df['project_subject_subcategories']).to_bow_encoding()], axis=1)

In [17]:
test_data = test_df_encode.values
xs_test = test_data[:, :]

In [18]:
y_test = model.predict_proba(xs_test, batch_size=1000, verbose=1)

78035/78035 [==============================] - 1s 6us/step

In [19]:
y_test[0:100,:]

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]], dtype=float32)