In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.model_selection import cross_validate
from xgboost import XGBClassifier
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [2]:
train_df = pd.read_csv("./Data/resources.csv")
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541272 entries, 0 to 1541271
Data columns (total 4 columns):
id             1541272 non-null object
description    1540980 non-null object
quantity       1541272 non-null int64
price          1541272 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 47.0+ MB

In [3]:
total_price = pd.Series(train_df['quantity'].fillna(0.0).astype(int) * train_df['price'].fillna(0.0).astype(float))
total_price = total_price.rename('total_price', axis='columns')
total_price.head(10)

0    149.00
1     44.85
2      8.45
3     27.18
4     74.85
5     16.99
6      9.95
7     20.22
8     19.90
9     18.04
Name: total_price, dtype: float64

In [4]:
train_df = pd.concat([train_df, total_price], axis=1)
train_df.head(10)

,id,description,quantity,price,total_price
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00,149.00
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95,44.85
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45,8.45
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59,27.18
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95,74.85
5,p069063,Last to Finish: A Story About the Smartest Boy...,1,16.99,16.99
6,p069063,"Mrs. Gorski, I Think I Have the Wiggle Fidgets...",1,9.95,9.95
7,p069063,"See-N-Read 1503905CQ Reading Tool - Book Size,...",2,10.11,20.22
8,p096795,"Brewster WPD90218 Wall Pops Flirt Dot, Set of ...",2,9.95,19.90
9,p096795,Brewster Wall Pops WPE99065 Peel & Stick Calyp...,2,9.02,18.04

In [5]:
grouped_by_id = train_df.groupby('id')
grouped_by_id.size().head(10)

id
p000001     4
p000002    14
p000003     4
p000004    95
p000005     4
p000006     5
p000007     1
p000008    80
p000009    38
p000010     1
dtype: int64

In [6]:
import functools

def f_reduce_sum(list):
    val = functools.reduce(lambda x, y: x + y, list)
    return round(val, 2)

def f_reduce_concat(list):
    return functools.reduce(lambda x, y: str(x).replace('\n','') + ' ' + str(y).replace('\n',''), list)

In [7]:
train_df = grouped_by_id.agg({
#            'description': f_reduce_concat,
            'total_price': f_reduce_sum})
train_df.head(10)

         total_price
id
p000001       833.63
p000002       630.28
p000003       298.97
p000004      1126.22
p000005       702.31
p000006       130.62
p000007       947.88
p000008       296.99
p000009       335.40
p000010       332.40

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260115 entries, p000001 to p260115
Data columns (total 1 columns):
total_price    260115 non-null float64
dtypes: float64(1)
memory usage: 4.0+ MB

In [9]:
train_df.to_csv("B01.csv", index=True)